/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    margin: 0;
    padding: 0;
    background-color: #fdf3e4;
    background-image: url('/muntasirImages/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
    width: 100%;
}

.menu-header {
    margin: 0px;
    background-color: #f2e8c6;
    justify-content: center;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-header h1 {
    font-family: 'Flame Bold', sans-serif;
    font-size: 3rem;
    margin: 0;
    color: #800000;
    padding: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Navigation Bar */
.menu-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
    width: 100%;
}



.menu-nav a {
    text-decoration: none;
    color: #800000;
    font-family: 'Londrina Solid', cursive;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    display: grid;
}

.menu-nav a:hover {
    color: #FFCE1B;
    transform: scale(1.1);
}

.menu-nav img {
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
}

/* Banner Section */
.banner {
    display: grid;
    grid-template-columns: 500px auto;

    gap: 40px;
    margin-bottom: 10px;
    padding: 10px;
}

.delivery-info {
    background-color: #800000;
    color: #dad4b5;
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 0px;
}

.delivery-info:hover {
    transform: translateY(-10px);
}

.delivery-info img {
    width: 350px;
    /* Enlarged image */
    margin-bottom: 0px;
    animation: float 3s infinite ease-in-out;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.delivery-info h2 {
    font-family: 'Flame Bold', sans-serif;
    font-size: 3rem;
    margin: 0px;

}

.delivery-info p {
    font-family: 'Londrina Solid', cursive;
    font-size: 2.5rem;
    margin: 5px 0;
}

/* Offer Section */
.offer.buy-one-get-one {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0px;
    color: #F5F5DC;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.buy1get1Container {
    margin: 0;
    padding: 0;
}

.offer.buy-one-get-one:hover {
    transform: translateY(-10px);
}

.offer.buy-one-get-one h3 {
    font-family: 'Flame Bold', sans-serif;
    font-size: 3rem;
    margin: 50px 0;
    padding: 0px;
    text-transform: uppercase;
}

.offer.buy-one-get-one p {
    font-family: 'Londrina Solid';
    font-size: 2.5rem;
    margin: 5px 0;
}

.offer.buy-one-get-one .highlight {
    color: #FFCE1B;
    font-weight: bold;
}

.offer.buy-one-get-one {
    background-image: url('/muntasirImages/buy1get1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
}

/* Deals Section */
.deals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;

}

.deals div {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.deals div:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.deal1 {

    color: #800000;
    margin: auto;
    background-image: url('brushStrokes.png');
    background: rgba(183, 192, 189, 0.6);

}

.deal1 h3 {
    margin: 5px;


}

.deal2 {
    background-color: #dad4b5;
    color: #982b1c;
}

.deal3 {
    background-color: #9BB412;
    color: #F5F5DC;
}

.deal3 h4 {
    font-size: 3.2rem;
    color: #800000;
    margin: -35px;
    font-family: 'Lovers Quarrel';
}

.deals img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px;
}

/* Font Styling for Deals */
.deals h3,
.deals p {
    font-family: 'londrina solid';
    text-transform: capitalize;
    font-size: 2.5rem;
}

.deals h3 {
    font-size: 2.5rem;


}

.deal1 .highlight {
    color: #dad4b5;
    font-weight: bold;
}

.deal3 .highlight {
    color: #800000;
    font-weight: bold;
}


/* Media Queries for Larger Screens */
/* Media Queries for smaller Screens */